@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Quattrocento:wght@400;700&display=swap');

body p {
  font-family: "Comfortaa", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Quattrocento", serif;
}

h1 {
  font-size: 64px !important;
}

a {
  color: #000;
  text-decoration: none !important;
  padding: 2px 10px;
  font-weight: 600;
}

a p, h1, h2, h3, h4, h5, h6{
  color: #000;
  text-decoration: none !important;
}

.container {
  max-width: 900px !important;
  margin: 0 auto;
}

.restaurant-container {
  display: flex;

  flex-flow: row wrap;
  align-items: center;
  gap: 20px;
}

.restaurant-card {
  padding: 10px 20px;
  border: 1px solid #000;
  width: calc(100% / 3 - 20px);
  min-width: 200px;
  height: 300px;
}

.menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 0;
  width: 100%;
  gap: 10px;
}
